{% extends "base.html"  %}
{% block title %} {{ head_title }} {% endblock %}
<div class="wrapperdiv">
{% block head %} {{ page_title }}{% endblock %}


{% block content %}
<div class="instructional_text">
	<p>{{ messageToUser }}</p>
	<p/>
	Logged into the {{ account.name }} account. | <a href="/discipline/enter_incident/">Enter incident.</a> | <a href="/discipline/">Back to main page</a> | <a href="/discipline/discipline_logout/">Log Out</a>
</div>
<div>
    {% if list_to_report %}
        <table>
            <tr>
                <td class="padded_default">Date</td>
                <td class="padded_default">Student</td>
                <td class="padded_default">Referrer</td>
                <td class="padded_default">Description</td>
            </tr>
            {% for item in list_to_report %}
                <tr>
                    <td class="padded_default"><a href="/discipline/referral_view/{{ item.0 }}">{{ item.1 }}</a></td>
                    <td class="padded_default"><a href="/discipline/view_incidents_student/{{ item.2 }}/">{{ item.2 }}</a></td>
                    <td class="padded_default">{{ item.3 }}
                    <td class="padded_default">{{ item.4|truncatewords:8 }}</td>
                   
                </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No incidents have been entered with location {{ location_string }}</p>
    {% endif %}
</div>
</div>
{% endblock %}