{% extends "base.html"  %}
{% block title %} {{ head_title }} {% endblock %}
<div class="wrapperdiv">
{% block head %} {{ page_title }}{% endblock %}


{% block content %}

<div>
    {% if dow_list_with_count %}
    <table class="centered">
        <tr>
            <td><span class="descriptive_text">Day of the Week</span></td>
            <td><span class="descriptive_text">Incidents</span></td>
        </tr>
        {% for dow in dow_list_with_count %}
            <tr>
                <td class="left_aligned"><a href="/discipline/view_incidents_day_of_week/{{ dow.0 }}/">{{ dow.0 }}</a></td>
                <td>{{ dow.1 }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
</div>
</div>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["barchart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Day of the Week');
    data.addColumn('number', 'Incidents');
    data.addRows({{ row_count }});
    {{ google_setvalue|safe }}

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 600, height: 400, is3D: true, title: '{{ page_title }}'});
  }
</script>
<p></p>
<div id="chart_div" class="centered"></div>
{% endblock %}