{% extends "base.html"  %}
{% block title %} {{ head_title }} {% endblock %}
<div class="wrapperdiv">
{% block head %} {{ page_title }}{% endblock %}
{% block content %}


<div>
	<table class="centered">
		<tr>
			<td><td>
			<td><span class="descriptive_text">BAIT ID</span></td>
			<td><span class="descriptive_text">Student</span></td>
			<td><span class="descriptive_text">Grade</span></td>
			<td><span class="descriptive_text">Minor Behavior</span></td>
			<td><span class="descriptive_text">Major Behavior</span></td>
			<td><span class="descriptive_text">School Year</span></td>
		<tr>
		
		{% if action_list %}
		{% for action in action_list %}
			<tr>
				<td><span class="smaller_text"><a href="/discipline/delete_action/{{ action.0 }}">delete</a><td>
				<td><span class="smaller_text">{{ action.0 }}</td>
				<td><span class="smaller_text">{{ action.1 }}</td>
				<td><span class="smaller_text">{{ action.2 }}</td>
				<td><span class="smaller_text">{{ action.3 }}</td>
				<td><span class="smaller_text">{{ action.4 }}</td>
				<td><span class="smaller_text">{{ action.5 }}</td>
			</tr>
		{% endfor %}
		{% endif %}
		
	</table>
</div>

{% endblock %}


    
    