{% extends "base.html"  %}
{% block title %} {{ head_title }} {% endblock %}
<div class="wrapperdiv">
{% block head %} {{ page_title }}{% endblock %}


{% block content %}

<div>
    {% if student_list_with_count %}
    <table class="centered">
        <tr>
            <td><span class="descriptive_text">Student</span></td>
            <td><span class="descriptive_text">Incidences</span></td>
        </tr>
        {% for student in student_list_with_count %}
            <tr>
                <td class="left_aligned"><a href="/discipline/view_incidents_student/{{ student.0 }}/">{{ student.0 }}</a></td>
                <td>{{ student.1 }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </table>
</div>
</div>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["barchart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Student');
    data.addColumn('number', 'Incidents');
    data.addRows({{ row_count }});
    {{ google_setvalue|safe }}

    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
    chart.draw(data, {width: 750, height: 800, is3D: true, title: '{{ page_title }}'});
  }
</script>
<p></p>
<div id="chart_div" class="centered"></div>

<script type="text/javascript">
    $(function() {
    $("#start_date_field").datepicker();
    });
</script>
<script type="text/javascript">
    $(function() {
    $("#end_date_field").datepicker();
    });
</script>

{% endblock %}